
$green: #2dbca5;
$gray-1: #f0eff4;
$gray-2: #b2b2b2;
$gray-3: #e1e1e1;


$background-gray: $gray-1;
$label-background: $gray-2;
$border-color: $gray-3;
$text-color: #888888;
$title-color: #a7a6ab;
$btn-primary: $green;
